@tailwind base;
@tailwind components;
@tailwind utilities;
 
/* Scroll bar  */
::-webkit-scrollbar{
    width:15px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: #0075ff
}
::-webkit-scrollbar-thumb:hover{
    background-color: #0d69d5
}
/* Side Bar Title  */
.page .sidebar h3::before,
.page .sidebar h3::after{
    content: "";
    position: absolute;
    background-color: black;
}
.page .sidebar h3::before{
    width: calc(100% - 50%);
    height: 1.5px;
    bottom: -15px;
    left: 25%;
}
.page .sidebar h3::after{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid white;
}
.page ul li.active{
    background-color: #f6f6f6;
}
/* Dashborad Title  */
.page .content h1:before,
.page .content  h1:after{
    content:"";
    position: absolute;
    height: 3px;
    bottom: -10px;
}

/* Yearly Targets  */
.targets .stat > div::before{
    content:"80%";
    color: white;
    font-size: 13px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 5px;
    width: 20x;
    height: 20px;
    top: -35px;
    border-radius: 6px;
}
.targets .stat > div::after{
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
    top: -15px;
}
.targets .stat > .progress1::before{
    background-color:#0075ff;
    left: 75%;
}
.targets .stat > .progress1::after{
    left: calc(75% + 14px );
    border-color: #0075ff transparent transparent transparent;

}
.targets .stat > .progress2::before{
    background-color:#f59e0b;
    left: 55%;
}
.targets .stat > .progress2::after{
    left: calc(55% + 14px );
    border-color: #f59e0b transparent transparent transparent;

}
.targets .stat > .progress3::before{
    background-color:#22c55e;
    left: 35%;
}
.targets .stat > .progress3::after{
    border-color: #22c55e transparent transparent transparent;
    left: calc(35% + 14px );

}


