@tailwind base;
@tailwind components;
@tailwind utilities;
 
.page .sidebar h3::before,
.page .sidebar h3::after{
    content: "";
    position: absolute;
    background-color: black;

}
.page .sidebar h3::before{
    width: calc(100% - 50%);
    height: 1.5px;
    bottom: -15px;
    left: 25%;
}
.page .sidebar h3::after{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid white;
}
.page ul li.active{
    background-color: #f6f6f6;
}


